pkgbase = cartero
	pkgdesc = Make HTTP requests and test APIs
	pkgver = 0.2.3
	pkgrel = 1
	url = https://github.com/danirod/cartero
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = blueprint-compiler
	makedepends = git
	makedepends = meson
	makedepends = rust
	depends = curl
	depends = glib2
	depends = gtk4
	depends = gtksourceview5
	depends = libadwaita
	depends = openssl
	options = !lto
	options = !strip
	source = cartero-0.2.3.tar.xz::https://github.com/danirod/cartero/releases/download/v0.2.3/cartero-0.2.3.tar.xz
	sha256sums = b87867dc42e4a19d7831ee5d6dcc0cab5723cc41f063669c5b1ab92d333ebec1

pkgname = cartero
