pkgbase = i386-elf-binutils
	pkgdesc = GNU binutils for the i386- toolchain
	pkgver = 2.42
	pkgrel = 2
	url = https://www.gnu.org/software/binutils
	arch = x86_64
	groups = i386-elf-toolchain
	license = GPL
	makedepends = gcc
	depends = xz
	source = http://ftpmirror.gnu.org/binutils/binutils-2.42.tar.xz
	sha256sums = f6e4d41fd5fc778b06b7891457b3620da5ecea1006c6a4a41ae998109f85a800

pkgname = i386-elf-binutils
