pkgbase = i386-elf-binutils
	pkgdesc = GNU binutils for the i386- toolchain
	pkgver = 2.44
	pkgrel = 1
	url = https://www.gnu.org/software/binutils
	arch = x86_64
	groups = i386-elf-toolchain
	license = GPL
	makedepends = gcc
	depends = xz
	source = http://ftpmirror.gnu.org/binutils/binutils-2.44.tar.xz
	sha256sums = ce2017e059d63e67ddb9240e9d4ec49c2893605035cd60e92ad53177f4377237

pkgname = i386-elf-binutils
